* {
  box-sizing: border-box;
}


body {
  background-color: #1C1E62;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none !important;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  background-color: #1C1E62;
}

.loading-animation img {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ..................homepage.................. */

/* ..........homepage header.......... */

.h-p-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
}

.h-p-header h1 {
  font-size: 60px;
  margin: 40px 0 0 0;
  letter-spacing: 8px;
  font-weight: 900;
}

.h-p-header h4 {
  font-size: 30px;
  margin: 20px 0 0 0;
  letter-spacing: 5px;
  font-weight: 400;
}

/* ..........homepage task types.......... */

.h-p-task-types {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 3rem);
  padding: 30px;
  margin: 50px auto;
}

.h-p-task {
  background-color: #5E63B6;
  width: 27vw;
  padding: 30px;
  border-radius: 10px;
  color: white;
}


.h-p-task h4 {
  color: #eb99ed;
}

.h-p-task h2 {
  font-family: 'Satisfy', cursive;
}

.h-p-task button {
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}


/* ..........homepage creator.......... */

.h-p-task-creator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  max-width: 45%;
  background-color: #5E63B6;
  border-radius: 10px;
  color: white;
  font-family: 'Satisfy', cursive;
}

.h-p-task-creator form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  gap: 20px;
}

.h-p-task-creator-title {
  border-radius: 5px;
  border: none;
  padding: 15px;
  border: 2px solid rgb(129, 117, 117);
}

.h-p-task-creator-description {
  border-radius: 5px;
  border: none;
  padding: 30px 15px;
  border: 2px solid rgb(129, 117, 117);
}

.h-p-task-creator form button {
  padding: 10px 17px;
  border-radius: 5px;
  border: 2px solid rgb(129, 117, 117);
  width: 40%;
  font-family: 'Poppins', sans-serif;
}

/* ..........homepage tasklists.......... */




.task-list-empty {
  color: #ffffff;
  text-align: center;
}


.h-p-tasklist-container {
  margin:50px auto;
  background-color: #5E63B6;
  border-radius: 10px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60vh;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 8px 32px 0 rgba(50, 56, 145, 0.37);
  backdrop-filter: blur(9px);

}

.h-p-tasklist-container h2{
  color: white;
}

.h-p-task-type::-webkit-scrollbar {
  display: none;
}

.h-p-task-type {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 20px;
}


.h-p-tasks-todo {
  display: flex;
  flex-direction: column;

}

.h-p-tasklist-container a {
  margin-left: auto;
}

.h-p-tasks-cross-image {
  width: 30px;
  height: 30px;
}

.h-p-tasklist {
  margin: 0 0 20px;
  background-color: #A393EB;
  border-radius: 5px;
  padding: 10px;
  cursor: move;

}

.h-p-tasklist-main {
  display: flex;
  justify-content: space-between;
}

.h-p-tasklist-main h3,
p {
  margin: 5px 0;
}

.h-p-tasklist-main-title {
  display: flex;
  align-items: center;
  gap: 30px;
}

.h-p-tasklist-on-click {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.h-p-tasklist-on-click span {
  color: red;
}

.h-p-tasklist-on-click-buttons {
  display: flex;
  gap: 30px;
}

.h-p-tasklist-on-click-buttons button {
  padding: 3px 7px;
  border-radius: 5px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* ..........homepage editing page.......... */

.h-p-editing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5E63B6;
  border-radius: 10px;
  padding: 20px 10px 30px;
  display: flex;
  flex-direction: column;
  width: 40%;
  box-shadow: 0 8px 32px 0 rgba(50, 56, 145, 0.37);
  backdrop-filter: blur(9px);

}

.h-p-editing-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.h-p-editing-title {
  border-radius: 5px;
  border: none;
  padding: 15px;
  border: 2px solid rgb(129, 117, 117);
  margin-top: 12px;
}

.h-p-editing-container form button {
  padding: 10px 17px;
  border-radius: 5px;
  border: 2px solid rgb(129, 117, 117);
  width: 30%;
  font-family: 'Poppins', sans-serif;
}

.h-p-editing-description {
  border-radius: 5px;
  border: none;
  padding: 30px 15px;
  border: 2px solid rgb(129, 117, 117);
}





/* ...........................media queries.......................... */

@media screen and (max-width:900px) {
  .h-p-header h1 {
    font-size: 45px;
  }

  .h-p-header h4 {
    font-size: 25px;
  }

  .h-p-task-creator h1 {
    font-size: 25px;
  }

  .h-p-task-types {
    max-width: 100%;
  }

  .h-p-task button {
    font-size: 12px;
    padding: 5px 12px;
  }

  .h-p-task-creator {
    max-width: 65%;
  }

  .h-p-task-creator form button {
    width: 60%;
  }

  .h-p-tasklist-container,
  .h-p-editing-container {
    width: 70%;
  }

}

@media screen and (max-width:700px) {
  .h-p-task-types {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .h-p-task {
    width: 90%;
  }

  .h-p-task-creator {
    max-width: 90%;
  }

  .h-p-tasklist-container,
  .h-p-editing-container {
    width: 90%;
  }
}


@media screen and (max-width:500px) {
  .h-p-header h1 {
    font-size: 35px;
  }

  .h-p-header h4 {
    font-size: 15px;
  }

  .h-p-task-creator h1 {
    font-size: 20px;
  }

  .h-p-task {
    padding: 20px;
  }

  .h-p-task h2 {
    font-size: 18px;
  }

  .h-p-task h4 {
    font-size: 14px;
  }

  .h-p-task-creator form {
    padding: 20px;
  }

  .h-p-task-creator form button {
    width: 40%;
    font-size: 12px;
  }

  .h-p-tasklist-main-title h3 {
    font-size: 14px;
  }

  .h-p-tasklist p {
    font-size: 14px;
  }

  .h-p-editing-container form button {
    font-size: 12px;
    width: 50%;
  }

}